.myClass {

background-color:yellow;
color:yellow;

}

body{

    background-image:url(../includes/photos/pexels-suzy-hazelwood-1526049.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

}

.myHfirst{

    color:white;
    font-size: 80px;
    margin-top: 15px;
    text-shadow: 2px 2px 8px black;
}

.myForm{

    color:navy;
    background-color:rgba(255, 255, 255,0.6);
    padding:70px;
    border-radius: 20px;
    margin-top: 40px;
    border: 1px solid gray;
    box-shadow: 5px 10px 18px #393838;  
    
}

.myForm input{
    background-color: white;
    padding:10px;
    border-radius:9px;
    width:80%;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 5px 10px 18px #393838;  

}

.myForm .submit{

    color:white;
    background-color: rgb(15, 15, 62);
    width:40%;
    border: 1px solid rgb(39, 38, 38);


}

.myForm .submit:hover{

    background-color: rgb(33, 33, 182);
    border: 1px solid rgb(33, 33, 182);

 
}


input{
    
    border-style:none;
    border-color: transparent;
}

.myAdminButton{

    background-color:rgba(42, 42, 42,0.5);
    padding:7px;
    color:white;
    font-size: 17px;
    display: block;
    text-align:center;

}

#examPage{

 

    /*////////////////////*/
    background-image: url(../includes/photos/flowers-4151900_1920.jpg);
  background-position: top center;
  background-repeat: no-repeat, no-repeat;
  background-size:cover;

}
/*
#examPage form{
    background-image: url(../includes/photos/paper-1763262_1920.png);
    background-position: top center;
    background-repeat: no-repeat, no-repeat;
    background-size:contain;
  
}*/


.formExamPage{

    font-size: 20px;
    font-weight:bold;
    font-family: cursive;
    background-color:rgba(255, 255, 255,0.6);
    padding:60px;
    color:rgb(37, 61, 61);
}
/*
.formExamPage .th{
    
}*/